<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_ILobby">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_ILogIn">
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IUsersManager">
					<reliableSession inactivityTimeout="00:00:50" enabled="true" />
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_ILobbyManager">
					<reliableSession inactivityTimeout="00:00:50" enabled="true" />
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_ILobbyChecker">
					<reliableSession inactivityTimeout="00:00:50" enabled="true" />
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IProfileManager">
					<reliableSession inactivityTimeout="00:00:50" enabled="true" />
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_ISocialManager">
					<reliableSession inactivityTimeout="00:00:50" enabled="true" />
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IGameManager">
					<reliableSession inactivityTimeout="00:00:50" enabled="true" />
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IStatsManager">
					<reliableSession inactivityTimeout="00:00:50" enabled="true" />
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:8000/LobbyService" binding="netTcpBinding"
			          bindingConfiguration="NetTcpBinding_ILobby" contract="LobbyService.ILobby"
			          name="NetTcpBinding_ILobby" />
			<endpoint address="net.tcp://localhost:8000/LogInService" binding="netTcpBinding"
			          bindingConfiguration="NetTcpBinding_ILogIn" contract="LogInService.ILogIn"
			          name="NetTcpBinding_ILogIn" />
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service"
			          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUsersManager"
			          contract="ServiceReference.IUsersManager" name="NetTcpBinding_IUsersManager" />
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service"
			          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyManager"
			          contract="ServiceReference.ILobbyManager" name="NetTcpBinding_ILobbyManager" />
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service"
			          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyChecker"
			          contract="ServiceReference.ILobbyChecker" name="NetTcpBinding_ILobbyChecker" />
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service"
			          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProfileManager"
			          contract="ServiceReference.IProfileManager" name="NetTcpBinding_IProfileManager" />
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service"
			          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISocialManager"
			          contract="ServiceReference.ISocialManager" name="NetTcpBinding_ISocialManager" />
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service"
			          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameManager"
			          contract="ServiceReference.IGameManager" name="NetTcpBinding_IGameManager" />
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service"
			          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IStatsManager"
			          contract="ServiceReference.IStatsManager" name="NetTcpBinding_IStatsManager" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Haley.Abstractions" publicKeyToken="9b5f4902d3fea17a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.4.0" newVersion="1.1.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>