<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILobby">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
				<binding name="NetTcpBinding_ILogIn">
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
					</security>
				</binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8000/LobbyService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILobby" contract="LobbyService.ILobby"
                name="NetTcpBinding_ILobby" />
            <endpoint address="net.tcp://localhost:8000/LogInService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILogIn" contract="LogInService.ILogIn"
                name="NetTcpBinding_ILogIn" />
        </client>
    </system.serviceModel>
</configuration>