<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name ="Servicio.Service1">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8000/Service1"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="Servicio.ILobby">
					
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange">
					
				</endpoint>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="tcpBinding">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
    
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>