<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
   <service name="Servicio.LobbyService">
    <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
     contract="Servicio.ILobby" />
    <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="net.tcp://localhost:8000/LobbyService" />
     </baseAddresses>
    </host>
   </service>
   <service name="Servicio.LogInService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="secureTcpBinding"
          contract="Servicio.Interfaces.ILogIn" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8000/LogInService" />
          </baseAddresses>
        </host>
      </service>			
  </services>
		<bindings>
			<netTcpBinding>
				<binding name="tcpBinding">
					<security mode="None"/>
				</binding>
				<binding name="secureTcpBinding">
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
    
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
